
.photo {
    margin-left: 350px;
}

img > .icone {
    width: auto;
    height: auto;
}

.link {
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.icon {
    flex-basis: 75px;
    float: left;
}
