
.playlist {
    margin-left: 25px;
    flex-wrap: wrap;
    width: 350px;
    height: auto;
    display: flex;
}

.num {
    text-align: left;
    float: right;
    flex-basis: 75px;
    height: 60px;
}

.titre {
    text-align: center;
    float: right;
    flex-basis: 250px;
    height: 50px;
}

.temps {
    text-align: right;
    float: left;
    height: 50px;
    flex-basis: 50px;
}
