* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Avenir, sans-serif;

    &::before {
        box-sizing: border-box;
    }

    &::after {
        box-sizing: border-box;
    }

    &::selection {
        background-color: #0e1963;
        color: #d8eaf7;
    }
}

html, body {
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
}

h1{
    color: #470808;
    font-family: "Covered BY Your Grace", serif;
}
a {
    text-decoration: none;
    color: inherit;
}
p{
    color: #470808;
}