
hr {
    width: 300px;
}

footer {
    background-color: #130000;
    width: 100%;
    right: 0;
    bottom: 0;
    position: fixed;
    color: whitesmoke;
}

.comment {
    text-align: center;
}

.msg-icon {
    text-align: center;
    font-size: 12px;
}
