.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.gestion_session {
    flex-basis: 25%;
}

.titre {
    text-align: center;
    flex-basis: 25%;
}

.img-header {
    float: left;
}

.membre ul::after {
    content: "";
    display: table;
    clear: both;
}

.deroulant > a::after {
    content: "▼";
    font-size: 12px;
}

ul li:hover .sous {
    display: block;
}

ul {
    list-style-type: none;

    &::after {
        content: "";
        display: table;
        clear: both;
    }

    li {
        float: left;
        width: 33%;
        text-align: center;
        position: relative;
    }

}

.sous {
    display: none;
    box-shadow: 1px 2px #CCC;
    background-color: #a2a2a2;
    position: absolute;
    width: 100%;
    z-index: 10000;

    li {
        float: none;
        width: 100%;
        text-align: center;
    }

    a {
        border-bottom: none;

        &:hover {
            border-bottom: none;
            background-color: RGBa(200, 200, 200, 0.1);
        }
    }
}
