
.navigation {
    flex-wrap: wrap;
    width: 100%;
    background-color: #bdbdbd;
    position: relative;

    a {
        display: block;
        text-decoration: none;
        color: black;
        border-bottom: 2px solid transparent;
        padding: 10px;

        &:hover {
            color: orange;
            border-bottom: 2px solid gold;
        }
    }
}
