.pagination {
    margin-left: 25%;
    margin-right: 25%;
    flex-wrap: wrap;
    width: 40%;
    background-color: transparent;
    position: relative;

    a {
        display: block;
        text-decoration: none;
        color: black;
        border-bottom: 2px solid transparent;
        padding: 10px;

        &:hover {
            color: orange;
            border-bottom: 2px solid gold;
        }
    }

    ul {
        list-style-type: none;

        li {
            float: left;
            width: 33%;
            text-align: center;
            position: relative;

            &::after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }
}
