
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #130000;
    float: left;
    height: 100vh;

    .icon {
        margin-left: 50px;
        width: 200px;
        height: 200px;
    }

    .link-container {
        margin-top: 25px;
        text-align: center;
        display: flex;
        height: 40%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .link {

            font-family: 'Josefin Sans', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 24px;
            color: #909090;
            position: relative;
            padding: 10px 25px 0 20px;

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                content: '';
                width: 0;
                display: block;
                transition: .5s ease-in-out;
            }

            &:hover {

                &::after {
                    content: '';
                    height: 2px;
                    width: 100%;
                    background-color: white;
                    display: block;
                }
            }
        }
    }
}