@charset "UTF-8";
/*COPYRIGHT (C) metalheads ( Gabriel PERINO) 2019. All rights reserved.*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Avenir, sans-serif;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
*::selection {
  background-color: #0e1963;
  color: #d8eaf7;
}

html, body {
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
}

h1 {
  color: #470808;
  font-family: "Covered BY Your Grace", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: #470808;
}

a {
  text-decoration: none;
}

h1 {
  padding-top: 5px;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  background-color: transparent;
  text-align: center;
}

.photo {
  margin-left: 350px;
}

img > .icone {
  width: auto;
  height: auto;
}

.link {
  height: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.icon {
  flex-basis: 75px;
  float: left;
}

.playlist {
  margin-left: 25px;
  flex-wrap: wrap;
  width: 350px;
  height: auto;
  display: flex;
}

.num {
  text-align: left;
  float: right;
  flex-basis: 75px;
  height: 60px;
}

.titre {
  text-align: center;
  float: right;
  flex-basis: 250px;
  height: 50px;
}

.temps {
  text-align: right;
  float: left;
  height: 50px;
  flex-basis: 50px;
}

/* Le switch - la boite autour du slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /* Le slider */
  /* Style arrondi */
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.switch input:checked + .slider {
  background-color: #2196F3;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.switch input:checked + .slider:before {
  transform: translateX(26px);
}
.switch .slider.round {
  border-radius: 34px;
}
.switch .slider.round:before {
  border-radius: 50%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.gestion_session {
  flex-basis: 25%;
}

.titre {
  text-align: center;
  flex-basis: 25%;
}

.img-header {
  float: left;
}

.membre ul::after {
  content: "";
  display: table;
  clear: both;
}

.deroulant > a::after {
  content: "▼";
  font-size: 12px;
}

ul li:hover .sous {
  display: block;
}

ul {
  list-style-type: none;
}
ul::after {
  content: "";
  display: table;
  clear: both;
}
ul li {
  float: left;
  width: 33%;
  text-align: center;
  position: relative;
}

.sous {
  display: none;
  box-shadow: 1px 2px #CCC;
  background-color: #a2a2a2;
  position: absolute;
  width: 100%;
  z-index: 10000;
}
.sous li {
  float: none;
  width: 100%;
  text-align: center;
}
.sous a {
  border-bottom: none;
}
.sous a:hover {
  border-bottom: none;
  background-color: RGBa(200, 200, 200, 0.1);
}

.navigation {
  flex-wrap: wrap;
  width: 100%;
  background-color: #bdbdbd;
  position: relative;
}
.navigation a {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px;
}
.navigation a:hover {
  color: orange;
  border-bottom: 2px solid gold;
}

.pagination {
  margin-left: 25%;
  margin-right: 25%;
  flex-wrap: wrap;
  width: 40%;
  background-color: transparent;
  position: relative;
}
.pagination a {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px;
}
.pagination a:hover {
  color: orange;
  border-bottom: 2px solid gold;
}
.pagination ul {
  list-style-type: none;
}
.pagination ul li {
  float: left;
  width: 33%;
  text-align: center;
  position: relative;
}
.pagination ul li::after {
  content: "";
  display: table;
  clear: both;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #130000;
  float: left;
  height: 100vh;
}
aside .icon {
  margin-left: 50px;
  width: 200px;
  height: 200px;
}
aside .link-container {
  margin-top: 25px;
  text-align: center;
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
aside .link-container .link {
  font-family: "Josefin Sans", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #909090;
  position: relative;
  padding: 10px 25px 0 20px;
}
aside .link-container .link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  display: block;
  transition: 0.5s ease-in-out;
}
aside .link-container .link:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: white;
  display: block;
}

hr {
  width: 300px;
}

footer {
  background-color: #130000;
  width: 100%;
  right: 0;
  bottom: 0;
  position: fixed;
  color: whitesmoke;
}

.comment {
  text-align: center;
}

.msg-icon {
  text-align: center;
  font-size: 12px;
}

.img-metalheads {
  width: 160px;
  height: 250px;
}

.img-two-metalheads {
  width: 150px;
  height: 200px;
}

.img-three-metalheads {
  width: 420px;
  height: 200px;
}

.img-four-metalheads {
  width: 300px;
  height: 200px;
}

.img-five-metalheads {
  width: 425px;
  height: 200px;
}

.grid-article {
  max-height: 450px;
  display: grid;
  width: 100%;
  grid-template-columns: 50% 1fr;
}

.content-text-article {
  margin-left: 50px;
  padding: 20px;
  text-align: justify;
  /*background-color: green;*/
  justify-content: right;
  flex-wrap: wrap;
  display: flex;
}

.container-img-article {
  margin-right: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.img-article {
  max-height: 450px;
}

.date_published {
  text-align: left;
}

.grid-container {
  gap: 30px;
  width: 1500px;
  padding-top: 15px;
  margin-left: 400px;
  display: grid;
  grid-template-rows: 400px 400px;
  grid-template-columns: 450px 450px 450px;
}
.grid-container .article-container {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  width: 392px;
  height: 400px;
}
.grid-container .article-container .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 225px;
}
.grid-container .article-container .image-container img {
  width: 100%;
  height: 100%;
}
.grid-container .article-container .text-container {
  width: 90%;
  text-align: center;
  color: black;
  padding: 15px;
}
.grid-container .article-container .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.grid-container .article-container .button-container button {
  font-weight: 500;
  font-size: 24px;
  background-color: white;
  color: transparent;
  cursor: pointer;
  width: 184px;
  height: 47px;
}
.grid-container .article-container .button-container button a {
  color: inherit;
}
.grid-container .article-container .button-container .btn-left {
  border: 3px solid #D25858;
  color: #D25858;
}
.grid-container .article-container .button-container .btn-right {
  text-align: center;
  border: none;
  color: white;
  background-color: #D25858;
}

.searchArticle {
  border-radius: 15px;
  margin-left: 150px;
  width: 500px;
}

.contact {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}
.contact .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.contact .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.contact .form-container {
  width: 982px;
  min-height: 575px;
}
.contact .form-container .text-danger {
  color: #a94442;
}
.contact .form-container a.text-danger:hover,
.contact .form-container a.text-danger:focus {
  color: #843534;
}
.contact .form-container .inputs {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
}
.contact .form-container .inputs input {
  background-color: #fcfcfc;
  width: 982px;
  height: 75px;
}
.contact .form-container textarea {
  background-color: #fcfcfc;
  margin-bottom: 30px;
  margin-top: 15px;
  width: 982px;
  height: 299px;
}
.contact .form-container .labels {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.contact .form-container .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .form-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(to bottom, #470808 21%, rgba(210, 88, 88, 0.2117647059) 100%);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 184px;
  height: 47px;
  font-weight: 400;
  font-size: 24px;
}

/*# sourceMappingURL=main.css.map */
