
.img-metalheads {

    width: 160px;
    height: 250px;
}

.img-two-metalheads {
    width: 150px;
    height: 200px;
}

.img-three-metalheads {
    width: 420px;
    height: 200px;
}

.img-four-metalheads {
    width: 300px;
    height: 200px;
}

.img-five-metalheads {
    width: 425px;
    height: 200px;
}
