.grid-article {
    max-height: 450px;
    display: grid;
    width: 100%;
    grid-template-columns: 50% 1fr;
}

.content-text-article {
    margin-left: 50px;
    padding: 20px;
    text-align: justify;
    /*background-color: green;*/
    justify-content: right;
    flex-wrap: wrap;
    display: flex;
}

.container-img-article {
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.img-article {
    max-height: 450px;
}

