.contact {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;

  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .form-container {
    width: 982px;
    min-height: 575px;

    .text-danger {
      color: #a94442;
    }
    a.text-danger:hover,
    a.text-danger:focus {
      color: #843534;
    }
    .inputs {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 22px;

      input {
        background-color: #fcfcfc;
        width: 982px;
        height: 75px;
      }
    }

    textarea {
      background-color: #fcfcfc;
      margin-bottom: 30px;
      margin-top: 15px;
      width: 982px;
      height: 299px;
    }

    .labels {
      height: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }

    .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background: linear-gradient(to bottom, #470808 21%, #D2585836 100%);
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      width: 184px;
      height: 47px;
      font-weight: 400;
      font-size: 24px;
    }
  }
}
