.date_published {
  text-align: left;
}

.grid-container {
  gap: 30px;
  width: 1500px;
  padding-top: 15px;
  margin-left: 400px;
  display: grid;
  grid-template-rows: 400px 400px;
  grid-template-columns: 450px 450px 450px;

  .article-container {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    width: 392px;
    height: 400px;

    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 225px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .text-container {
      width: 90%;
      text-align: center;
      color: black;
      padding: 15px;
    }

    .button-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: space-between;

      button {
        font-weight: 500;
        font-size: 24px;
        background-color: white;
        color: transparent;
        cursor: pointer;
        width: 184px;
        height: 47px;

        a {
          color: inherit;
        }
      }

      .btn-left {
        border: 3px solid #D25858;
        color: #D25858;
      }

      .btn-right {
        text-align: center;
        border: none;
        color: white;
        background-color: #D25858;
      }

    }
  }
}


.searchArticle {
  border-radius: 15px;
  margin-left: 150px;
  width: 500px;
}
